<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all patients", "Index", "Patients")</p> 
<p>@Html.ActionLink("See all doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("See all specialities", "Index", "Specialities")</p>